<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-card-header>
      <ion-card-title color="dark">Informacion Pedido</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Pedido : {{pedidoRecibido.id_pedido}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Fecha Pedido: {{pedidoRecibido.fecha_pedido}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Cliente: {{pedidoRecibido.nombre_usuario}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Total: {{pedidoRecibido.total}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Estado: {{pedidoRecibido.nombre_estado}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let detalle of detalles" >
    <ion-card-header>
      <ion-card-title color="dark">Detalle Pedido</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img alt="Silhouette of mountains" src="{{detalle.foto_producto}}" width="200px"/>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">{{detalle.nombre_producto}}</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Cantidad: {{detalle.cantidad}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Talla: {{detalle.talla}}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Subtotal: ${{detalle.subtotal}}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-item>
    <ion-label>
      <h2 color="dark">Total del Pedido</h2>
      <p color="dark">${{totalPedido}}</p>
    </ion-label>
  </ion-item>

</ion-content>