<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-icon name=""></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

      <h3 class="ion-text-center">Cambiar Contraseña</h3>

    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-input label="Contaseña actual" labelPlacement="floating" placeholder="Ingrese su contraseña actual"
          [(ngModel)]="password_actual"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input label="Nueva Contraseña" labelPlacement="floating" type="password" placeholder="Ingrese nueva contraseña"
          [(ngModel)]="password_nueva"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Confirmar Nueva Contraseña" labelPlacement="floating" type="password" placeholder="Confirmar nueva contraseña"
          [(ngModel)]="confirmarPassword"></ion-input>
      </ion-item>


      <br>
      <div class="boton">
        <ion-button expand="block" color="tertiary" (click)="guardar()">Guardar Cambios</ion-button>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>